asttokens==3.0.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
decorator==5.2.1
executing==2.2.0
idna==3.10
ipython==9.1.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
joblib==1.4.2
matplotlib-inline==0.1.7
mss==10.0.0
numpy==2.2.4
opencv-python==4.11.0.86
parso==0.8.4
pexpect==4.9.0
pillow==11.2.1
prompt_toolkit==3.0.51
ptyprocess==0.7.0
pulsectl==24.12.0
pure_eval==0.2.3
PyAudio==0.2.14
pycparser==2.22
Pygments==2.19.1
python-dotenv==1.1.0
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
sounddevice==0.5.1
stack-data==0.6.3
threadpoolctl==3.6.0
traitlets==5.14.3
typing_extensions==4.13.2
urllib3==2.4.0
wcwidth==0.2.13
